asgiref==3.5.0
atomicwrites==1.4.0
attrs==21.4.0
backcall==0.2.0
beautifulsoup4==4.10.0
Calculator==1.1.0
certifi==2021.5.30
charset-normalizer==2.0.6
click==8.0.3
colorama==0.4.4
decorator==5.0.9
Django==4.0.2
Flask==2.0.2
greenlet==1.1.2
idna==3.2
iniconfig==1.1.1
ipython==7.25.0
ipython-genutils==0.2.0
itsdangerous==2.0.1
jedi==0.18.0
Jinja2==3.0.3
MarkupSafe==2.0.1
matplotlib-inline==0.1.2
MyApplication==0.1.0
packaging==21.3
parameterized==0.8.1
parso==0.8.2
pickleshare==0.7.5
pluggy==1.0.0
polog==0.0.13
prompt-toolkit==3.0.19
psycopg2==2.9.2
psycopg2-binary==2.9.3
py==1.11.0
Pygments==2.9.0
pyparsing==3.0.6
pytest==6.2.5
requests==2.26.0
slug==2.0
soupsieve==2.3.1
SQLAlchemy==1.4.27
sqlparse==0.4.2
toml==0.10.2
tqdm==4.62.3
traitlets==5.0.5
tzdata==2021.5
urllib3==1.26.7
views==0.3
vk==2.0.2
vk-api==11.9.7
wcwidth==0.2.5
Werkzeug==2.0.3
